*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
*.log
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/wordpress-popular-posts/cache/
wp-content/plugins/wp-file-cache/cache/
wp-content/plugins/did2-ab-testing/tmp/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

index.php
wp-cli.phar
wp-includes
wp-signup.php
license.txt
wp-comments-post.php
wp-links-opml.php
wp-trackback.php
readme.html
wp-config-sample.php
wp-load.php
xmlrpc.php
wp-activate.php
wp-config.php
wp-login.php
wp-admin
wp-content/*
wp-mail.php
wp-blog-header.php
wp-cron.php
wp-settings.php

!wp-content/themes/hitchcock
